SET search_path TO my_schema;

-- 1.	Вывести покупателей, которые имеют минимальный рейтинг среди всех покупателей.
SELECT *
FROM cust
WHERE rating = (
	SELECT MIN(rating)
	FROM cust
);

-- 2.	Для каждого товара вывести общее количество заказов с этим товаром, только если это количество заказов больше, чем у товара с номером 1001.
SELECT pnum,
		COUNT(*) AS orders_count
FROM ord
GROUP BY pnum
HAVING COUNT(*) > (
	SELECT COUNT(*)
	FROM ord
	WHERE pnum = 1001
);

-- 3.	Выбрать покупателей, которые покупали продукты с номером 1004 у продавцов, которые когда-либо продавали продукт с номером 1002.
SELECT * 
FROM cust 
WHERE cnum IN (
	SELECT o.cnum 
	FROM ord o 
	WHERE o.pnum = 1004 
		AND EXISTS (
			SELECT 1 
			FROM ord o2 
			WHERE o2.snum = o.snum 
				AND o2.pnum = 1002
			)
);

-- 4.	Вывести названия всех продавцов, которые никогда не работали с покупателями из Новосибирска.
SELECT DISTINCT s.name
FROM sal s
WHERE NOT EXISTS (
	SELECT 1
	FROM ord o
	WHERE o.snum = s.snum
		AND o.cnum IN (
			SELECT c.cnum 
			FROM cust c 
			WHERE c.city = 'Novosibirsk'
		)
);

-- 5.	Вывести товары, вес которых больше веса хотя бы одного товара из города Новосибирск.
SELECT *
FROM prod
WHERE weight > ANY (
	SELECT weight
	FROM prod
	WHERE city = 'Novosibirsk'
		AND weight IS NOT NULL
);

-- 6.	Вывести товары, которые никогда не продавались продавцами из города, в котором произведен этот товар.
SELECT *
FROM prod p
WHERE NOT EXISTS (
	SELECT 1
	FROM ord o
	WHERE o.pnum = p.pnum
		AND o.snum IN (
			SELECT s.snum 
			FROM sal s 
			WHERE s.city = p.city
		)
);

-- 7.	Вывести всю информацию о продавцах с дополнительным столбцом «округ продавца» со следующими вариантами значений: «северо-западный», если город Санкт-Петербург, «центральный», если город Москва, «сибирский», если город Новосибирск, или «другой» для остальных городов. 
SELECT s.*,
	CASE s.city
		WHEN 'Saint Petersburg'	THEN 'северо-западный'
		WHEN 'Moscow'			THEN 'центральный'
		WHEN 'Novosibirsk'		THEN 'сибирский'
		ELSE 'другой'
	END AS "округ продавца"
FROM sal s;

-- 8.	Вывести из таблицы заказов уникальные номера продуктов и показатель популярности каждого из них на основе количества заказов: «популярный» — 4+ заказа, «умеренный» — 2-3 заказа, «непопулярный» — 1 заказ.
SELECT pnum,
	COUNT(*) AS orders_count,
	CASE
		WHEN COUNT(*) >= 4 THEN 'популярный'
		WHEN COUNT(*) >= 2 THEN 'умеренный'
		WHEN COUNT(*) = 1 THEN 'непопулярный'
	END AS "показатель популярности"
FROM ord
WHERE pnum IS NOT NULL
GROUP BY pnum;