SET search_path TO my_schema;

-- -- Выполнить задания 1-3 с использованием оператора JOIN

-- -- 1.	Вывести информацию о всех заказах. Добавить для каждого заказа его продавца, если таковой имеется, или NULL, если продавец неизвестен.
SELECT
	ord.*,
	sal.name AS sname
FROM ord
LEFT JOIN sal
	ON ord.snum = sal.snum;

-- -- 2.	Напишите запрос, который выведет номер и объем (количество продукта в нем) заказа, название и город продукта только для заказов, в которых продукт имеет вес не менее 500.
SELECT
	ord.onum AS ord_num,
	ord.amt AS ord_amount,
	prod.name AS prod_name,
	prod.city AS prod_city
FROM ord
JOIN prod
	ON ord.pnum = prod.pnum
WHERE prod.weight >= 500;

-- -- 3.	Вывести список имен всех покупателей. Для покупателей, имена которых начинаются с букв A или I, присоединить количество их заказов.
SELECT
	cust.name,
	CASE
		WHEN upper(left(cust.name, 1)) IN ('A', 'I')
			THEN COUNT(ord.onum)
		ELSE -1
	END AS ord_count
FROM cust
LEFT JOIN ord
	ON cust.cnum = ord.cnum
GROUP BY
	cust.cnum,
	cust.name
ORDER BY
	cust.name;

-- -- Выполнить задание 4 с использованием CROSS JOIN
-- -- 4.	Вывести все пары номеров продавцов. Исключить комбинации продавцов с самими собой, а также дубликаты строк, выводящие пары в обратном порядке.
SELECT DISTINCT
	a.snum AS seller_1,
	b.snum AS seller_2,
	a.name AS name_1,
	b.name AS name_2
FROM sal AS a
CROSS JOIN sal AS b
WHERE a.snum < b.snum
ORDER BY
	a.snum,
	b.snum;

-- -- Выполнить задание 5 с использованием NATURAL JOIN
-- -- 5.	Вывести результат естественного соединение таблиц ord и cust. По каким полям соединились таблицы?
SELECT *
FROM ord
NATURAL JOIN cust;
-- -- cnum

-- -- Выполнить задания 6-7 с использованием UNION/EXPECT/INTERSECT
-- -- 6.	Вывести список номеров товаров, которые были в заказах от продавца 3001 и/или производились не в Москве. 
SELECT pnum
FROM ord
WHERE snum = 3001

UNION -- -- ИЛИ

SELECT pnum
FROM prod
WHERE city != 'Москва';
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
SELECT pnum
FROM ord
WHERE snum = 3001

INTERSECT -- -- И

SELECT pnum
FROM prod
WHERE city != 'Москва';

-- -- 7.	Вывести список первых букв, с которых начинались имена продавцов, но не начинались названия продуктов.
SELECT upper(left(name, 1)) AS letter
FROM sal

EXCEPT

SELECT upper(left(name, 1)) AS letter
FROM prod

-- -- Выполнить задание 8 с использованием подзапроса
-- -- 8.	Вывести имена и общий объем (сумму количеств товаров) заказов всех продавцов, находящихся в городах, где суммарный рейтинг покупателей этого города больше 400.
SELECT
    sal.name,
    COALESCE(SUM(ord.amt), 0) AS sum_amount,
    rated.sum_rating
FROM sal
JOIN ord
    ON sal.snum = ord.snum
JOIN (
    SELECT
        cust.city,
        SUM(cust.rating) AS sum_rating
    FROM cust
    GROUP BY cust.city
    HAVING SUM(cust.rating) >= 400
) AS rated
    ON sal.city = rated.city
GROUP BY
    sal.snum,
    sal.name,
    rated.sum_rating
ORDER BY
    sal.name;